*{
    margin: 0;
    padding: 0;
}
.body{
    max-width: 70%;
    min-height: 350px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;   
}
.link{
    color:#fff;
    text-decoration: none;
}
.red{
    color: red;
}
.green{
    color: green;
}